body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #d2edff;
  color: #002758;
  font-family: 'Times New Roman';
  width: 100%;
}

h1{
    font-size: 50px;
    color:rgb(216, 237, 255);
    margin-top: 0;

}

h2{
    color: rgb(216, 237, 255);
    font-size: 25px;
}

h3{
    font-size: 40px;
    margin-top: 0;
}



nav{
    background:rgb(125, 179, 255);
    padding-bottom: 1px;
}

main td{
    padding: 3% 5%;
}

td a {
  text-decoration-line: none;
  color: white;
}

td a:hover{
  font-weight: bold;
  color:#fff8ce;
}


.pic{
    width: 50%;
}

.pic img{
    width: 100%;
}


.description{
    
    vertical-align: top;
    font-size: 25px;
   
}

.logo{
    text-align: center;
}

.place{
    display: inline-block;
    width: 75%;
    position: relative;
    width: 100px;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(216, 237, 255);
    top: 0px;
    left: 70%;
    background:rgb(110, 171, 255);
}

#yellow{
  width: 100%;
  height: auto;
}

#details{
    width: 100%;
    height: 200px;
    border:rgb(110, 171, 255) solid;
    color: rgb(56, 139, 255);
    font-family: 'Times New Roman';
    font-size: 20px;
    margin-bottom: 15px;
    resize: none;
}

#mainimg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}


#maint{
  width: 100%;
  text-align: center;
}

#maint td{
  border: 20px solid #d2edff;
  font-size: 30px;
  background: rgb(125, 179, 255);
  color:rgb(255, 255, 255);
}

#mainh3{
  padding-top: 50px;
  margin: 0 20px;
}


/*

PANCAKE MENU STYLING HERE

*/ 


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
*/

 .pan{
     padding: 5px !important;
 }


 #menuToggle
 {
   display: inline-block;
   position: relative;
   top: 0px;
   left: 20px;
   width:20%;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: rgb(216, 237, 255);
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: #fff8ce;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   color: #bcd9ff;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: rgb(216, 237, 255);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: rgb(216, 237, 255);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 
 #menu
 {
   position: absolute;
   width: 150px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 110px;
   
  color: rgb(255, 255, 255);

   
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
 
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }



 /* 

 PANCAKE STYLING ENDS HERE

 /*



 /* BUTTONS */

 a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #ffffff;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#627cff;
    text-align:center;
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);
    }
    a.button1:hover{
    color:#22006b;
    background-color:#81a2ff;
    }
    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
    }